* {
  box-sizing: border-box;
}
html {
  background-image: url("../../images/leopard-background.jpg");
  background-size: cover;
  color: #713708;
}


body {
  background-color: #ffcc33;
  margin: 5% 10%;
  padding:2%;
  border: 2px solid #994c0f;
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 500%;
  padding:0;
  margin:0 0 30px 0;;
  text-align: center;
}

h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 300%;
  margin: 30px 10px 5px 10px;
  text-align: center;
}

ol, ul {
  font-family: 'Raleway', sans-serif;
}
p {
  font-family: 'Indie Flower', cursive;
  font-size: 200%;
}

.container-header {
  border-color: white;
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-1 {
  background-color: #fe9923;
  margin: 1%;
  z-index: 1;
  text-align: center;
  padding: 1%;
  width: 35%;
  border-radius: 20% 10%;
  border: 2px solid #994c0f;

}

.container-header img {
  width: 50%;
  border-radius: 20% 10%;
  background-size: cover;
  border: 2px solid #994c0f;
}

.button {
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  color: #713708;
  font-size: 2em;
  display: inline-block;
  line-height: 1.2em;
  text-align: center;
  margin-left: 33px;
  margin-top: 20px;
  text-decoration: none;
}

.button:hover {
  color: #0ca656;
}

.container-recipe {
  margin-top: 30px;
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.box-left {
  width: 30%;
  margin: 10px 0;
}

ul {
  list-style: none;
}

.box-left li {
  list-style: none;
  margin: 0;
}

.box-right {
  width: 70%;
  margin: 10px 0;
}

ol, ul {
  padding: 0;
  line-height: 150%;
}
ol {
  margin-left: 5%;
}

footer{
  width: 100%;
  height: 100px;
  display: fixed;
}

.social-media {
  color: #713708;
  display: flex;
  justify-content:space-around;
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 0 40%;
}

.fa {
  text-align: center;
  color: #713708;
  margin: 5px;
}

footer img {
  max-height: 50px;
  max-width: 50px;
  border-radius: 10px;
}

@media (max-width: 620px){
  h2, li,  {
    font-size: 100%;
  }
  h1 {
    font-size: 300%;
  }
  .container-header, .container-recipe {
    flex-direction: column;
    align-items: center;
  }
  .box-left, .box-right, .text-1, img {
    width: 80%;
  }
  .container-header img {
    margin-bottom: 10px;
  }
  footer {
    width:100%;
  }
  .social-media {
    margin: 0 5%;
  }
}


@media (min-width: 621px) and (max-width: 800px){
  h2, li {
    font-size: 100%;
  }
  .social-media {
    margin: 0 10%;
    justify-content: space-between;
  }
}
