* {
  box-sizing: border-box;
}

body{
  margin: 5% 10% 10% 10%;
  background-color: #1f3581;
  /*height: 100%;*/
}

#snow{
	background: none;
	background-image: url('../../images/s2.png');
  /*background-image: url('../../images/s1.png'), url('../../images/s2.png'), url('../../images/s3.png');*/
  width: 100%;
  height: auto;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}

h1{
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
  line-height: 2.5em;
  /*background-color: white;*/
  letter-spacing: 1.5px;
  color: #fff;
  margin-left: 10%;
  margin-top: 5%;
}

h4{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 1.1em;
  line-height: 1.2em;
}

.recepietip > p{
  font-family: 'Shrikhand', cursive;
  line-height: 1.5em;
  letter-spacing: 1px;
}

h3{
  font-family: 'Shrikhand', cursive;
  font-size: 1.5em;
  line-height: 1em;
  letter-spacing: 1.5px;
}

p{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 1.7em;
}

.span-fontcolor{
  color:#4dbbeb;
}

.span-bold{
  font-weight: 800;
}

.box-left ul{
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 1.7em;
  color: #fff;
}

.box-right ul{
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 1.7em;s
}

.container-header {
  background: url(http://kryddburken.se/wp-content/uploads/2011/09/chokladrutor_kokost%C3%A4cke.jpg) center center;
  background-size: cover;
  width: 80%;
  height: 600px;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

.text {
  background-color: white;
  opacity: 0.7;
  padding: 5px 20px 5px;
  margin-left: 30px;
  margin-right: 30px;
  width: auto;
  position: absolute;
  bottom: 30px;
  z-index: 1;
}

.image {
  background: blue;
  padding: 10px;
  margin: 10px;
  width: 90%;
  height: 90%;
  position: absolute;
}

.container-recipe{
  background-color: gray;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%
}

.box-left {
  background-color:#4dbbeb;
  width: 40%;
  padding: 20px 30px 20px 0;
}

.box-right {
  background-color: #fff;
  width: 60%;
  padding: 20px 30px 20px 0;
  border-right: 4px solid#4dbbeb;
}

.recepietip{
  width: 90%;
  height: auto;
  border-width: 4px;
  border-style: solid;
  border-color:#4dbbeb;
  margin: 30px 20px 20px 40px;
  padding: 0 15px 0 15px;
}

.button {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  /*font-family: 'Shrikhand', cursive;*/
  color: #fff;
  font-size: 3em;
  background-color: #1f3581;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  text-align: center;
  border-radius: 50%;
  margin-left: 33px;
  margin-top: 20px;
  text-decoration: none;
}

.button:hover {
  background-color: #2064ce;
}

  @keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  150% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

footer{
  background-color: #c1001f;
  width: 80%;
  height: 100px;
  display: fixed;
  margin-left: 10%;
  margin-bottom: 10%;
  padding-top: 30px;
}

.social-media {
  display: flex;
  justify-content:space-around;
  align-content: center;
  align-items: center;
  padding: 0 40%;
}

.fa {
  text-align: center;
  color: white;
  margin: 5px;
}

footer img {
  max-height: 29px;
  max-width: 29px;
  border-radius: 6px;
  margin-top: 3px;
  margin-right: 5px;
}

@media (max-width: 620px){
  body{
    margin: 15% 5% 15% 5%;
  }

  .text {
    display: none;
  }

  .mobile-top {
    background-color: #fff;
    width: 100%;
    padding: 10px 20px;
  }

  .container-header {
    height: 250px;
    position: relative;
  }

  h1{
    font-size: 1.7em;
    line-height: 1.5em;
  }
  h4{
    font-size: 1.1em;
    line-height: 1.5em;
  }

  .box-left {
    width: 100%;
  }

  .box-right {
    width: 100%;
  }
  .container-recipe{
  flex-direction: column;
  }
}

@media (min-width: 621px) and (max-width: 800px){
  .mobile-top {
    display: none;
  }

  h1{
    font-size: 1.8em;
    line-height: 2.5em;
  }

  .container-header {
    height: 375px;
    position: relative;
  }

  .box-left {
    width: 100%;
  }

  .box-right {
    width: 100%;
  }
  .container-recipe{
  flex-direction: column;
  }
}

@media (min-width: 801px){
  .mobile-top {
    display: none;
  }

}
