/*font-family: 'Oxygen', sans-serif;*/
/*font-family: 'Permanent Marker', cursive;*/
/*font-family: 'Kurale', serif;*/
/*font-family: 'Itim', cursive;*/

* {
  box-sizing: border-box;
  font-family: 'Kurale', serif;
}

body {
  background-image: url('../../images/christmasBackground.jpeg');
  margin: 3% 3% 3% 3%;
}

.card {
  width: 75%;
  margin: auto;
  height: 100vh;
}

header {
  width: 100%;
  color: white;
  font-size: 1.5em;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
}

.col12 {
  background-color: #C1001F;
  opacity: .88;
  margin-right: 3%;
  margin-bottom: 3%;
  width: 50%;
  border-radius: 50px;
  position: relative;
  bottom: 0;
  z-index: 1;
}

.col22 {
  background: url('../../images/saffransbiscotti-2.jpg');
  background-size: cover;
  width: 50%;
  height: auto;
  position: relative;
  opacity: 1;
  border-radius: 50px;
  margin-bottom: 3%;
}

header h1,
header p {
  position: relative;
  margin: 5%;
  color:white;
}

.container-recipe{
  background-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
}

.box-left {
  background-color: #713708;
  opacity: .75;
  width: 50%;
  border-radius: 50px;
  margin-right: 3%;

}

.box-right {
  background-color: #fe9923;
  opacity: .75;
  width: 50%;
  border-radius: 50px;
}

.box-left p,
.box-right p {
  margin: 5%;
  color: white;
}

footer {
  background-color: #0ca656;
  opacity: .75;
  width: 100%;
  height: 100px;
  display: fixed;
  border-radius: 50px;
  margin-top: 3%;
}

footer p {
  text-align: center;
  color: white;
  padding-top: 3%;
}
