@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Chewy|Indie+Flower|Leckerli+One|Pacifico|Pattaya');

* {
  box-sizing: border-box;
}

.background {
  background-image: url("https://studio.code.org/media?u=http%3A%2F%2Fstatic.wixstatic.com%2Fmedia%2Faec6b3_f97276cfd4a347d9a5a10c090ec6f844.jpg_srz_389_554_85_22_0.50_1.20_0.00_jpg_srz");
}

h1 {
font-family: "Pattaya";
font-size: 40px;
margin: 20px 20px 0 20px;
text-align: center;
}

#headlinemob {
  display: none;
  text-shadow: white 0px 0px 10px;

}

h2 {
  font-family: "Helvetica";
  font-size: 20px;
  margin: 15px;
  color: #020202;
  text-shadow: white 0px 0px 10px;
}

p {
  font-family: "arial";
  font-size: 20px;
  margin: 10px;
  color: #020202;
  text-shadow: white 0px 0px 10px;
}

#textstyle {
  font-family: "Pattaya";
  text-align: center;
  font-style: italic;
  margin-top: 30px;
  color: red;
  text-shadow: white 0px 0px 10px;

}

ul {
  font-family: "arial";
  font-size: 14px;
  margin: 15px;
  padding: 0;
  z-index: 1000;
  color: #020202;
  text-shadow: white 0px 0px 10px;
}

li {
  list-style: none;
  margin: 0;
  color: #020202;
  font-family: "Arial";
  font-weight: bold;
  z-index: 1000;
  text-shadow: white 0px 0px 10px;
  font-size: 15px;
}

.container-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.text {
  padding: 10px;
  margin: 10px 10px 10px 30px;
  width: 30%;
  z-index: 2;
  background: rgba(255, 255, 0, 0.8);
  font-color: white;
  text-shadow: white 0px 0px 10px;
}

img {
  width: 20%;
  object-fit: contain;
  z-index: 100;
  margin: 10px 10px 10px 30px;

}

.container-recipe{
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.box-left {
  background: rgba(255, 255, 0, 0.8);
  width: 30%;
  margin: 10px 0;
  z-index: 1;
}

.box-right {
  background: rgba(255, 255, 0, 0.8);
  width: 30%;
  margin: 10px 0;
  z-index: 1;
}

footer {
  background-color: transparent;
  width: 100%;
  height: 100px;
  display: fixed;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  object-fit: contain;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
   border-radius: 50%;
   object-fit: contain;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
   border-radius: 50%;
   object-fit: contain;
}

@media (max-width: 600px){
  .container-header {
    width: 100%;
    height: 100%;
    /*margin: 20px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-around;
  }

  h1 {
    display: none;
  }

#headlinemob {
  display: block;
  text-shadow: white 0px 0px 10px;
  font-size: 26px;
}
  .text {
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    width: 80%;
  }
  .container-recipe {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .box-left {
    width: 80%;
    margin: 10px 0;
  }
  .box-right {
    width: 80%;
    margin: 10px 0;
  }
  img {
    width: 80%;
    margin: 10px 0;
  }

  #textstyle {
    margin: 5px;
  }
  h1 {
    font-size: 25px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  img {
    width: 40%;
  }
  .text {
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    width: 40%;
  }
}
