@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Chewy|Indie+Flower|Leckerli+One|Pacifico|Pattaya');

* {
  box-sizing: border-box;
  background-color: #944427;
}

h1 {
font-family: "Pattaya";
font-size: 40px;
margin: 20px 20px 0 20px;
color: white;
}

#headlinemob {
  display: none;
}

h2 {
  font-family: "Helvetica";
  font-size: 20px;
  margin: 15px;
  color: white;
  background: none;
}

p {
  font-family: "arial";
  font-size: 20px;
  margin: 10px;
  color: white;
  background: none;
}

ul {
  font-family: "arial";
  font-size: 14px;
  margin: 15px;
  padding: 0;
  z-index: 1000;
  color: white;
  background: none;
}

li {
  list-style: none;
  margin: 0;
  color: white;
  font-family: "Arial";
  font-weight: bold;
  z-index: 1000;
  background: none;
}

.container-header {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-style: dotted;
  border-color: white;
  border-bottom: 0;
}

.text {
  padding: 10px;
  margin: 10px 10px 10px 30px;
  width: 70%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.60);
  font-color: white;
}

/*.image {
  padding: 10px;
  margin: 10px;
  width: 90%;
  height: 90%;
  /*position: absolute;*/
/*}*/

img {
  width: 20%;
  object-fit: contain;
  z-index: 100;
  margin: 10px 10px 10px 30px;
}

.container-recipe{
  background-color: transparent;
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-evenly;
  border-style: dotted;
  border-color: white;
  border-top: 0;
}

.box-left {
  background: rgba(255, 255, 255, 0.6);
  width: 30%;
  margin: 10px 0;
  z-index: 1;
}

.box-right {
  background: rgba(255, 255, 255, 0.6);
  width: 60%;
  margin: 10px 0;
  z-index: 1;
}

footer {
  background-color: transparent;
  width: 100%;
  height: 100px;
  display: fixed;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  object-fit: contain;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
   border-radius: 50%;
   object-fit: contain;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
   border-radius: 50%;
   object-fit: contain;
}

@media (max-width: 600px){
  .container-header {
    width: 100%;
    height: 100%;
    /*margin: 20px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-around;
  }

  h1 {
    display: none;
  }

#headlinemob {
  display: block;
}
  .text {
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    width: 80%;
  }
  .container-recipe {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .box-left {
    width: 80%;
    margin: 10px 0;
  }
  .box-right {
    width: 80%;
    margin: 10px 0;
  }
  img {
    width: 80%;
    margin: 10px 0;
  }

  #textstyle {
    margin: 5px;
  }
  h1 {
    font-size: 25px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  img {
    width: 40%;
  }
  .text {
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    width: 40%;
  }
}
