@import url('https://fonts.googleapis.com/css?family=Lato|Permanent+Marker');

* {
  box-sizing: border-box;
}

.background {
  background-image: url("../../images/karamellappelkaka.jpg");
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  margin: 20px 20px 0 20px;
  text-align: center;
}

#headlinemob {
  display: none;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  margin: 15px;
  color: #fd003a;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 10px;
  color: black;
}

#textstyle {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-style: italic;
  margin-top: 30px;
  color: #fd003a;
}

ul {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 15px;
  padding: 0;
  z-index: 1000;
  color: black;
}

li {
  list-style: none;
  margin: 0;
  color: black;
  font-family: 'Lato', sans-serif;
  z-index: 1000;
}

.container-header {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text {
  padding: 10px;
  margin: 10px 10px 10px 30px;
  width: 50%;
  z-index: 2;
  background-color: #eeeeeee0;
  color: #fd003a;
  text-align: center;
}

.header-container img {
  width: 50%;
  object-fit: contain;
  z-index: 100;
  margin: 10px 10px 10px 30px;
  border: 5px solid white;

}

.button {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  color: #fe9923;
  background-color: none;
  text-align: center;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 50px;
  text-decoration: none;
}

.button:hover {
  color: #c1001f;
}

.container-recipe{
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.box-left {
  background: #eeeeeee0;
  width: 30%;
  margin: 10px 0;
  z-index: 1;
}

.box-right {
  background: #eeeeeee0;
  width: 60%;
  margin: 10px 0;
  z-index: 1;
}

footer{
  width: 100%;
  height: 100px;
  display: fixed;
}

.social-media {
  background: #eeeeeee0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 0 40%;
}

.fa {
  text-align: center;
  color: #c1001f;
  margin: 5px;
}

footer img {
  max-height: 50px;
  max-width: 50px;
  border-radius: 10px;
}

@media (max-width: 600px){
  .container-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column-reverse;
    overflow: hidden;
    justify-content: space-around;
  }

  h1 {
    display: none;
  }

#headlinemob {
  display: block;
}
  .text {
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    width: 80%;
  }
  .container-recipe {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .box-left {
    width: 80%;
    margin: 10px 0;
    text-align: center;
  }
  .box-right {
    width: 80%;
    margin: 10px 0;
  }
  .header-container img {
    width: 80%;
    margin: 10px 0;
  }
  #textstyle {
    margin: 5px;
  }
  h1 {
    font-size: 25px;
    text-align: center;
  }
  footer {
    width:100%;
  }
  .social-media {
    margin: 0 5%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .header-container img {
    width: 40%;
  }
  .text {
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    width: 40%;
  }
  .social-media {
    margin: 0 10%;
    justify-content: space-between;
  }
  ul {
    font-size: 16px;
  }
}
